.display-icons {
  animation: fadeIcons 5s ease-in-out ;
}

@keyframes fadeIcons {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  animation: logoAnimation 4s ease-in-out;
}

@media (max-width : 768px) {
  .logo {
    animation: logoAnimationMobile 4s ease-in-out;
  }
}
@keyframes logoAnimation {
  0% {
    opacity: 0;
    transform: translateY(285%) translateX(-50%);
  }

  40% {
    opacity: 1;
    transform: translateY(50%) translateX(-50%);
    width: 1200px;
  }
  50% {
    opacity: 1;
    transform: translateY(50%) translateX(-50%);
    width: 1200px;
  }

  60% {
    opacity: 1;
    transform: translateY(50%) translateX(-50%);
    width: 1200px;
  }

  100% {
    opacity: 1;
    transform: translateY(0px) translateX(-50%);
  }
}
@keyframes logoAnimationMobile {
  0% {
    opacity: 0;
    transform: translateY(500%) translateX(-50%);
  }

  40% {
    opacity: 1;
    transform: translateY(200%) translateX(-50%);
    width: 1200px;
  }
  50% {
    opacity: 1;
    transform: translateY(200%) translateX(-50%);
    width: 1200px;
  }

  60% {
    opacity: 1;
    transform: translateY(200%) translateX(-50%);
    width: 1200px;
  }

  100% {
    opacity: 1;
    transform: translateY(0px) translateX(-50%);
  }
}